header {
  padding: 30px;
  background-color: bisque;
  text-align: center;
}

h1 {
  padding: 10px;
}

main {
  display: flex;
  justify-content: center;
  gap: 20px;
}

section {
  padding: 40px;
  border: blue 2px solid;
}

button {
  padding: 6px;
}